<a href="https://colab.research.google.com/github/fg0611/data-professionalization/blob/main/data-science/WranglingGarrido.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CoderHouse DS - class 14 assignment (Garrido)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/00 DEV CODING/00 CoderHouse/data science/'clase14'

/content/drive/MyDrive/00 DEV CODING/00 CoderHouse/data science/clase14

In [ ]:
ls

p_data.csv  practice/  w_data.csv  WranglingGarrido.ipynb

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pdf = pd.read_csv('p_data.csv', sep=';')
wdf = pd.read_csv('w_data.csv', sep=';')

In [ ]:
pdf.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [ ]:
wdf.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [ ]:
pdf_cols = pdf.columns
pdf_cols

Index(['Age', 'Sex', 'ID', 'Race', 'Country', 'Education', 'Education-Num',
       'Marital Status', 'Relationship'],
      dtype='object')

In [ ]:
wdf_cols = wdf.columns
wdf_cols

Index(['Workclass', 'fnlwgt', 'Capital Gain', 'Capital Loss', 'Hours per week',
       'ID', 'Target'],
      dtype='object')

In [ ]:
repeated = []
for pcol in pdf_cols:
    for wcol in wdf:
      if pcol == wcol:
        repeated.append(pcol)
  

print(repeated)

## another way is
## a = np.intersect1d(df2.columns, df1.columns)

['ID']

In [ ]:
merged_df = pd.merge(pdf, wdf, on='ID')

In [ ]:
merged_df.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,Target
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family,State-gov,77516.0,2174.0,0.0,40.0,<=50K
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,Self-emp-not-inc,83311.0,0.0,0.0,13.0,<=50K
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family,Private,215646.0,0.0,0.0,40.0,<=50K
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband,Private,234721.0,0.0,0.0,40.0,<=50K
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife,Private,338409.0,0.0,0.0,40.0,<=50K

In [ ]:
merged_df.drop(columns=['Age', 'Country', 'Education-Num', 'Relationship', 'fnlwgt', 'Hours per week'], inplace=True)

In [ ]:
merged_df.head()

,Sex,ID,Race,Education,Marital Status,Workclass,Capital Gain,Capital Loss,Target
0,Male,49084,White,Bachelors,Never-married,State-gov,2174.0,0.0,<=50K
1,Male,68553,White,Bachelors,Married-civ-spouse,Self-emp-not-inc,0.0,0.0,<=50K
2,Male,143654,White,HS-grad,Divorced,Private,0.0,0.0,<=50K
3,Male,41510,Black,11th,Married-civ-spouse,Private,0.0,0.0,<=50K
4,Female,195025,Black,Bachelors,Married-civ-spouse,Private,0.0,0.0,<=50K

In [ ]:
pdf.shape

(48842, 9)

In [ ]:
wdf.shape

(48843, 7)

In [ ]:
pdf.ID.nunique()

48842

In [ ]:
wdf.ID.nunique()

48843

In [ ]:
merged_df.ID.nunique()

48842

In [ ]:
merged_df.duplicated(subset=['ID']).sum()
## merged_df.loc[merged_df.duplicated(), :]

0

## 1. how many ID are not shared between dataframes P and W

In [ ]:
non_shared_IDs_method1 = wdf.merge(pdf, on='ID', how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
non_shared_IDs_method1
## just the ID 48842 in

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship,_merge
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [ ]:
non_shared_IDs_method2 = wdf[~wdf['ID'].isin(pdf['ID'])]
non_shared_IDs_method2

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.

## 2 replace wrong Target values

In [ ]:
## merged_df['Target'] = merged_df['Target'].replace(['<=50K.', '>50K.'],['<=50K', '>50K'])
merged_df.replace(to_replace={'<=50K.': '<=50K'}, value=None, inplace=True)

In [ ]:
targets = merged_df.groupby('Target')['Capital Loss'].sum()
print(targets)

Target
 <=50K     1313693.0
 <=50K.     698322.0
 >50K      1529007.0
 >50K.      732766.0
Name: Capital Loss, dtype: float64

In [ ]:
## merged_df.loc[merged_df['Target'].isin(['<=50K'])]

## merged_df['Target'].isnull().values.any()
## df.loc[df['set_of_numbers'].isnull(),'value_is_NaN'] = 'Yes'
## df.loc[df['set_of_numbers'].notnull(), 'value_is_NaN'] = 'No'
## merged_df[merged_df.isnull().any(axis=1)]

## 3. Calculate % of people with salary <=50K and >50K by Sex, Education and Race

In [ ]:

merged_df['Target'].value_counts(normalize=True)

 <=50K     0.506132
 <=50K.    0.254602
 >50K      0.160541
 >50K.     0.078725
Name: Target, dtype: float64

In [ ]:
## groupby_salary_by_sex = salary_by_sex['Sex'].groupby(salary_by_sex['Target'])
groupby_salary_by_sex = merged_df.groupby('Target')['Sex'].value_counts(normalize=True)
groupby_salary_by_sex

Target   Sex
 <=50K    Male      0.611974
          Female    0.388026
 <=50K.   Male      0.611500
          Female    0.388500
 >50K     Male      0.849637
          Female    0.150363
 >50K.    Male      0.846554
          Female    0.153446
Name: Sex, dtype: float64

In [ ]:
groupby_salary_by_race = merged_df.groupby('Target')['Race'].value_counts(normalize=True)
groupby_salary_by_race

Target   Race
 <=50K    White                 0.837338
          Black                 0.110720
          Asian-Pac-Islander    0.030866
          Amer-Indian-Eskimo    0.011125
          Other                 0.009951
 <=50K.   White                 0.840852
          Black                 0.111138
          Asian-Pac-Islander    0.027905
          Amer-Indian-Eskimo    0.011259
          Other                 0.008846
 >50K     White                 0.907665
          Black                 0.049356
          Asian-Pac-Islander    0.035200
          Amer-Indian-Eskimo    0.004591
          Other                 0.003188
 >50K.    White                 0.907412
          Black                 0.046554
          Asian-Pac-Islander    0.034590
          Other                 0.006502
          Amer-Indian-Eskimo    0.004941
Name: Race, dtype: float64

In [ ]:
groupby_salary_by_Education = merged_df.groupby('Target')['Education'].value_counts(normalize=True)
groupby_salary_by_Education

Target  Education
 <=50K   HS-grad         0.357039
         Some-college    0.238835
         Bachelors       0.126780
         11th            0.045105
         Assoc-voc       0.041303
                           ...
 >50K.   12th            0.003901
         9th             0.003641
         5th-6th         0.002861
         1st-4th         0.000520
         Preschool       0.000260
Name: Education, Length: 63, dtype: float64

In [ ]:

df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [ ]:


df.replace(to_replace={'Falcon': 'No Falcon', 'Parrot': 'new parrot'}, value=None, inplace=True)
df

       Animal  Max Speed
0   No Falcon      380.0
1   No Falcon      370.0
2  new parrot       24.0
3  new parrot       26.0